<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PowerBiConfiguration" type="PowerBI.Api.Client.Configuration.PowerBiConfiguration"/>
  </configSections>
  <appSettings>
    <add key="PowerBiDatasetName" value="MyDatasetName"/>
  </appSettings>
  <PowerBiConfiguration>
    <OAuth
      Authority="https://login.windows.net/common/oauth2/authorize"
      Resource="https://analysis.windows.net/powerbi/api"
      Client="MyClientId"
      User="MyUser"
      Password="MyPassword"/>
    <Api
      Url="https://api.powerbi.com/beta/myorg/datasets" />
  </PowerBiConfiguration>
</configuration>